.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    width: 400px;
}

.loginBtn {
    margin-top: 5px;
    margin-left: auto;
    flex-grow: 0;
    text-wrap: nowrap;
}

.wrapperBtn {
    display: flex;
}

.error {
    margin-right: 20px;
}