.ArticleDetails {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.backBtn {
    align-self: flex-start;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin: 34px 0 5px;
}

.articleInfo {
    display: flex;
    gap: 0 6px;
    align-items: center;
}

.wrapperArticleInfo {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}