.Sidebar {
    height: calc(100vh - var(--navbar-height));
    min-width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: min-width linear 0.3s;

}

.switcher {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 15px;
    transition: all linear 0.3s;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 25px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
    padding: 20px 0 0 40px;
    transition: 0.2s linear padding;
}



.collapsed {
    min-width: var(--sidebar-width-collapsed);

    .switcher {
        flex-direction: column;
        gap: 10px 0;
    }

    .items {
        align-items: center;
        padding: 20px 0 0;
        transition: 0.2s linear padding;
    }
}