.item {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.iconWrapper {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-wrap: nowrap;
    transition: 0.3s linear opacity;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
        text-wrap: nowrap;
    }
}