.app_green_theme {
    --bg-color: ##F4FBF5;
    --inverted-bg-color: #175424;
    --primary-color: #25340E;
    --secondary-color: #F4FBF4;
    --inverted-primary-color: #d6d6d6;
    --inverted-secondary-color: #F4FBF4;
}